
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&display=swap');

:root{
    --body-font: 'Asap', sans-serif; 
    --body-bg--gradient: linear-gradient(to bottom, #cbdeed 0%, #b2c2ce 100%);
    --body-bg: #dff1fe ;
    --sm-spacing: 10px;
    --spacing: 20px;
    --lg-spacing: 50px; 
    --mobile-menu-bg: var(--body-bg); 
    --mobile-menu-link-color: #000;
    --desktop-menu-bg: #fff;
    --desktop-menu-link-color: #000;
    --border: 1px solid #ccc;
    --heading-font: Georgia;
    --panel-bg: #fff;
    --panel-color: #000;
    --panel-radius: 10px;
    --h1-size: 18px;
    --h-color: #56726e;
    --site-header-colums: 200px auto ;
    --site-header-colums-tablet: 400px auto ;
    --tablet-container-width: 950px;
    --desktop-container-width: 1200px;
} 

@media screen and (min-width: 750px){
    :root{--h1-size: 24px}
}

@media screen and (min-width: 1000px){
    :root{--h1-size: 36px}
}



body{
    font-family: var(--body-font);
    background-color: var(--body-bg); 
    /* background-image: var(--body-bg--gradient); */
    background-repeat: no-repeat; 
    line-height: 1.25; 
    /* background-color: #e5e5f7;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f701 10px ), repeating-linear-gradient( #444cf755, #444cf7 ); */

}

.__panel{
    background-color: var(--panel-bg);
    /* border: 1px solid var(--panel-color); */
    color: var(--panel-color);
    padding: 20px;
    border-radius: var(--panel-radius);
} 

.__error-message{
    text-align: center;
    color: rgb(139, 4, 4);
    font-weight: bold;
}

.__message{
    text-align: center;
    color: #fff;
    padding: var(--spacing);
}

.__spacer{
   width: var(--sm-spacing) 
}

.__h1, .__h2, .__h3 {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    line-height: 1.1;
    color: var(--h-color);
}
 
/* Main Grids */ 

.site-header__grid{
    display: grid;
    grid-template-columns: var(--site-header-colums);
    align-items: center;
    background-color: var(--panel-bg); 
    color: var(--panel-color);
    padding: var(--sm-spacing);
    gap: var(--sm-spacing);
    justify-content: stretch;
    width: 100%;
}

@media screen and (min-width: 1000px){
   .site-header__grid{  
        max-width: var(--desktop-container-width);
        margin-inline: auto;
        padding-inline: 30px; 
   } 
} 
 
/* Header */
.site-header{
    background-color: var(--panel-bg);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 1000px){
    .site-header{ height: auto }
}

.site-logo{
    width: 100%;
    height: auto;
}

.site-header__user-profile-actions{
    display: flex;
    align-items: center;
    justify-items: end;
}

/* Site Navigation */ 

@media screen and (max-width: 999px){
    .site-navigation__nav{
        position: fixed;
        inset: 0 0 0 0; 
        height: 100vh;
        width: 100vw;
        z-index: 100;
        background-color: var(--mobile-menu-bg);
        text-align: center;
    }

    .site-navigation__nav[aria-hidden="false"]{ 
        transform: translateX(0);  
        transition: transform .25s;
    }
    .site-navigation__nav[aria-hidden="true"]{ 
        transform: translateX(100vw);  
        transition: transform .25s;
    }
}

@media screen and (min-width: 1000px){
   .site-navigation__nav{
        position: static;  
    } 
}

.site-navigation__links{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing);
}
.site-navigation__link{
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 999px){
    .site-navigation__link{ 
        padding: var(--spacing);
        color: var(--mobile-menu-link-color);
        font-size: 24px;
        margin-top: var(--spacing);
    }
}
 
.site-navigation__open-btn{
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    gap: var(--sm-spacing);
    justify-self: end;
}

@media screen and (min-width: 1000px){
    .site-navigation__open-btn, .site-navigation__close-btn{
        display: none;
    }
   .site-navigation__links{
        display: flex;  
        justify-content: end;
    } 
    .site-navigation__link{ 
        padding: var(--sm-spacing);
        color: var(--desktop-menu-link-color);
        font-size: 15px; 
    }
}

.site-navigation__open-btn__label{
    display: none;
}

.site-navigation__close-btn{
    color: var(--mobile-menu-link-color);
    /* margin-left: auto;
    margin-right: var(--spacing); */
    margin-top: var(--spacing);
}

.site-navigation__close-btn__label{
    display: none;
}

/* Body Grid */
.site-body__grid{ 
    padding-block: var(--sm-spacing);
    display: grid;
    gap: var(--sm-spacing);  
    grid-template-columns: 1fr;
    justify-items: stretch;
    justify-content: stretch;
    grid-template-areas: "list" "info" "stats";   
}
 
@media screen and (min-width: 750px){
    .site-body__grid{ 
        grid-template-areas: "list list" "stats info ";
        grid-template-columns: auto 250px;
        gap: var(--spacing);
        margin-top: var(--sm-spacing);
    }
}

@media screen and (min-width: 1000px){
    .site-body__grid{ 
        grid-template-areas: "list stats info " ;
        grid-template-columns: 300px 1fr 300px;
        padding-inline: var(--spacing);
        justify-content: space-between;
        gap: var(--spacing);
        margin-top: var(--lg-spacing);
        max-width: var(--desktop-container-width);
        margin-inline: auto;
    }
}


.site-body__grid__profile-list{ 
    grid-area: list;
}

@media screen and (max-width: 999px) {
    .__panel.site-body__grid__profile-list {
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--panel-bg);
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        border: none;
        display: flex;
    }
}

.site-body__grid__profile-info{
    grid-area: info; 
}

.site-body__grid__profile-stats{
   grid-area: stats; 
}

@media screen and (max-width: 749px){
   .site-body__grid__profile-stats,
   .site-body__grid__profile-info{ 
        /* max-width: 370px; */
        width: 100%;
        margin-inline: var(--sm-spacing);
        justify-self: center 
   } 
}


@media screen and (min-width: 750px){
   .site-body__grid__profile-stats{
        margin-left: var(--spacing)
    }
   .site-body__grid__profile-info{ 
        margin-right: var(--spacing)  
   } 
}

@media screen and (min-width: 1000px){
  .site-body__grid__profile-stats{
        margin-left: 0
    }
   .site-body__grid__profile-info{ 
        margin-right: 0
   } 
}

/* List */

@media screen and (max-width: 999px){
    .site-body__grid__profile-list  .__h2{
        display: none;
    }
}

.profile-list{
    display: flex;
    align-items: stretch;
    gap: var(--sm-spacing);
    padding-block: var(--sm-spacing); 
    padding-bottom: var(--spacing);
}

@media screen and (min-width: 750px){
    .profile-list{
        gap: var(--spacing);
    }
}

@media screen and (min-width: 1000px){
    .__panel.site-body__grid__profile-list {
        padding-inline: 0;
    }

    .__panel.site-body__grid__profile-list 
        :where(
            .__h2, .profile-list li ){
        margin-inline: var(--spacing);
    }

    .profile-list{
        margin-top: var(--sm-spacing);     
        flex-flow: column;
        gap: var(--spacing);
        max-height: 600px;
        overflow-y: scroll;
        overflow-x: hidden;
   } 
}

.select-profile-btn{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    /* border-radius: var(--sm-spacing); */
    border-radius: var(--panel-radius);
    border:  var( --border);
    height:100%;
    background-color: var(--panel-bg); 
    color: var(--panel-color); 
    transform: scale(1);
    transition: transform .25s; 
}

.select-profile-btn__img{
    width: 125px;
    height: auto;
}

@media screen and (min-width: 750px){

    .select-profile-btn__img{
        width: 150px;
        height: auto;
    }
}

@media screen and (min-width: 1000px){
    .select-profile-btn{
       grid-template-columns: 75px 1fr;
       width: 100%;
       justify-content: start;
       gap: var(--sm-spacing);
       text-align: left; 
       align-items: center;
    } 

    .select-profile-btn:hover{
        background-color: #efefef;
        color: #000;
        text-shadow: none;
    }

    .select-profile-btn img{
        width: 100%;
        height: auto;
    }
}


.active_profile-btn{ 
    transform: scale(1.05);
    transition: transform .25s;
}

@media screen and (min-width: 1000px){
    .active_profile-btn{ 
        background: var(--body-bg);
        /* color: #fff;
        text-shadow: 0 .1em .1em #000;  */
        box-shadow: inner 10px 10px 10px #000;
    }
}


.select-profile-btn__name{
    padding: var(--sm-spacing);
    font-size: 16px;
}

/* @media screen and (min-width: 750px){
   .select-profile-btn__name{
        padding: var(--sm-spacing);
        font-size: 16px;
    }     
} */

@media screen and (min-width: 1000px){
   .select-profile-btn__name{
        padding: var(--sm-spacing);
        font-size: 18px;
    }     
}

/* Info */
.patients-info{
    font-size: 15px;
    text-align: left;
    max-width: 300px;
    display: grid;
    gap: var(--sm-spacing);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "image gender " 
        "image dob "  
        "image contact"
        "image emergency"
        "image insurance" 
    ;
}

@media screen and (min-width: 750px){
    .patients-info{ 
        grid-template-columns:  1fr; 
        font-size: 16px;
        max-width: 100%;
        grid-template-areas: 
        "image "
        "dob" 
        "gender"
        "contact"  
        "emergency"
        "insurance"  ;
        text-align: center; 
    }
}

.patients-info__image{
    grid-area: image;  
}

.patients-info__image img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--panel-radius);
    overflow: hidden;
}

@media screen and (min-width: 750px){
    .profile-chart{
        text-align: left;
    }
}

.patients-info__name{ grid-area: name; text-align: center; padding-top: var(--sm-spacing)}
.patients-info__dob{ grid-area: dob}
.patients-info__gender{ grid-area: gender}
.patients-info__contact-info{ grid-area: contact}
.patients-info__emergency-info{ grid-area: emergency}
.patients-info__insurance{ grid-area: insurance; }
 

.diagnostic-history{
    margin-top: var(--lg-spacing);
}

.diagnosis-list__grid{

}

.diagnosis-list__grid__header{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-top: var(--sm-spacing);
    padding-bottom: var(--sm-spacing);
    margin-bottom: var(--sm-spacing);
}

.diagnosis-list__grid__header, .diagnosis-list__grid__row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--spacing); 
    padding-top: var(--sm-spacing);
    padding-bottom: var(--sm-spacing);
}